{% extends "posts/base.html" %}

{% block title %}Posty dla tematu: {{ topic.name }}{% endblock %}

{% block content %}
    <h1>Temat: {{ topic.name }}</h1>
    <p>Kategoria: {{ topic.category.name }}</p>
    <hr>

    <h2>Lista postów:</h2>

    {% for post in posts %}
        <div class="post-item">
            <h3>{{ post.title }}</h3>
            
            <p>
                <small>
                    Autor: {{ post.created_by.username }} | 
                    Data: {{ post.created_at|date:"d-m-Y H:i" }}
                </small>
            </p>

            <p>{{ post.text }}</p>
        </div>
        <hr>
    {% empty %}
        <p>Brak postów w tym temacie.</p>
    {% endfor %}

{% endblock %}